.form {
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.label {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.input {
    width: 50%;
    margin: 5px 0px;
}

.addContanct {
    margin: 10px;
    width: 52%;
    border: 0px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    }

    .addContanct:hover,
    .addContanct:focus {
        background-color: rgb(54, 54, 167);
}