.form {
    background-color: rgb(241, 240, 240);
    outline: 1px solid black;
    width: 50%;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.label {
    margin-left: 10px;
}

.nameInput {
    margin-left: 10px;
    margin-bottom: 20px;
}

.addContanct {
    margin: 10px 10px;
    width: 30%;
}