.contact {
    height: 30px;
    width: 240px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.infoContainer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.label {
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}

.button {
    border: 0;
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    padding: 0px;
    margin: 0px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    font-weight: 500;
    text-transform: uppercase;
    }

    .button:hover,
    .button:focus {
        background-color: rgb(54, 54, 167);
}